body{
  background-color:#EAFCFF ;
}
.navbar1{
 
    background-color: #0E3B43;
}
.navImg{
    height: 100px;
    width:100px;
    float:left;
    margin:auto;
   
    
  
}
.navbar-toggler{
margin-right: 100px;
}
.navbar{

   width:100%;
   color: aliceblue;
}
.navbar1 a{
    background-color: #071D21;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}
.navbar1 li{
    width: 150px;
    margin-right: 50px;
   margin-top: 3px;
   text-align: center;
}
#Home{
  background: linear-gradient(#193C40,#193C40,#29909C);
 display: flex;
 flex-direction: column;
 justify-content: center;
}
.content{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: aliceblue;
    font-weight:bold;
  
   
  }
  .btn{
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 10px;
    margin-left: 65px;
    height: 60px;
    width:200px;
    background: linear-gradient(45deg, #D0D041, #117650 );
    color: #FEFEFE;
    border: none;
    

  }
  .btnsubmit{
    margin-top: 40px;
    margin-bottom: 30px;
    height: 80px;
    width:100px;
    background: linear-gradient(45deg, #D0D041, #117650 );
    color: #FEFEFE;
    border: none;
   }
  .imglaptop{
    height:230px;
    width: 365px;
    margin-left: 5px;
    
  
  }
  #About{

    background-color: #EAFCFF;
  }
  .about-content{
    width: 70%;
    height: 100%;
    margin-top: 10%;
    font-size:x-large;
    text-align: center;
    margin-left: 10%;
 

  }
  .leftimg{
    position: relative;
    width: 30px;
   top:65px;
 left:10px

  }
  .rightimg{
    position: relative;
    width: 30px;
  left:80%;
bottom:30px;

  }

  .cards123{
    width:85%;
   background-color: #FFFFFF;
   margin: auto;
   border-radius: 10px;
   padding:20px
  }
  .cards123 img{
    width:300px;
    margin:auto;
  }
  .clrdiv{
    width:45px;
    height:10px;
    margin :auto;
    background:linear-gradient(45deg,  #117650,#D0D041 );
  }
  .hiddenpara{
    display: none;
  }
  .read-more-button{
    text-decoration: none;
    border: none;
    color: #0A7350;
    background: none;
  }
  .read-more-button:hover{
  font-size: large;

  }

  #Key-Feature img{
 width: 100px;
  }
  #Key-Feature h5{
  font-weight: bold;
  }
  #Key-Feature p{
    padding: 10px;
    color: gray;

    }
    .top{
      margin-left:15px;
      text-align: center;
    }
  
  .card1,.card2,.card3{
    background-color: #FFFFFF;
    height:270px;
    width:85%;
    margin:15px auto;
    border-radius: 10px;
    text-align: center;
  }

  #Workflow img{
    width: 100%;
  }
  #Workflow{
    background-color: #0E3B43;
    margin-top: 30px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #Workflow h2{

    color: #FFFFFF; 
    font-weight: bold;
   padding: 40px;
   margin: auto;

  }
  .clrdiv1{
    width:55px;
    height:10px;
    margin-bottom: 50px;
    background:linear-gradient(45deg,  #117650,#D0D041 );
  }

  #Advantage {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

  }
  #Advantage h2,.clrdiv1{ 
    font-weight: bold;
    margin: 20px auto;
  }
  #Advantage p{ 
padding:20px;
margin-left: auto;
  }
  .card-head{
   
    width:60%;
    font-weight:bold;
    background-color: #EAFCFF;
    display: flex;
    flex-direction:row;
    align-items: center;
    margin: 10px auto;
  }
  .card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
   border-radius: 15px;
    height:300px;
    width: 300px;
  }
  .card-body{
    font-size:15px;
    border-radius: 10px;
  }



 .container a{
  width:0px;
  height:0px;
  border-radius: 50%;
  background:linear-gradient(45deg,  #117650,#D0D041 );
  margin: auto;

 }
 #Partnerships{
  background-color: #05333B;
  width:100%;
  height:100%;
  color:#FFFFFF;
  margin:10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 
 #Partnerships img{
  width:200px;
  height:50px;
 }
 #Partnerships h2,h3,p{
width:80%;
margin :10px auto;
 }

 #Partnerships div{
  margin-left: 35px;
 }
 .contact{
  width:80%;
  margin:10px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;

 }


 .form{
  width:90%;
  margin :auto
 }
 
 #footer{
  background-color: #D6F3F8;
 margin:10px auto;
  width:90%
 }
 .footerimg img{
height:100px;
width:100%;
  margin: auto;
  
 }

 .footertags a{
  text-decoration: none;
  color: black;
   margin: 5px;
 

 }
 .footertags{
  
  width:200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
 }

.footerpara{
  width:90%;
margin-left:auto;
color: #071D21;
}
.xd{
  height:100%;
  width:100%;
  padding:5px;
  font-size: x-small;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 .contact{
  height:400px;
  width:90%;
  margin:auto;
  padding:5px;
  font-size: 20px;
 }
 .valh3{
  margin-left:45px
 }
.container,.card{
  height:400px;
  font-size:15px;
}

@media (min-width: 800px) and (max-width: 1600px)  {
  .navbar1{
    display: flex;
  width:100%;
  background-color: #0a3036;
  
}
.nav-link{
  width:400px;
  font-size: 10px
}

 .navImg{
  height: 100px;
  width:185px;
  margin-left: 10%;
    
  
}
#Home{
   display: flex;
   flex-direction: row;
   justify-content: center;
   font-size: x-large;  
   height:400px
}

.content{

  align-items: center;
  width:500px;
  margin-left:30%;

  
}
.btn{
  width:50px;
  height:30px;
 margin-right: 110px;
}
  
  

.navbar1 a{
  background-color: #071D21;
 width:70px;
  border-radius: 10px;
}
.navbar1 li{
  width:70px;
}
.imglaptop{
  margin:auto
}
.btn{
  width:200px;
  margin:auto
}
#About{
 margin:auto
}
.cards123{
 margin:auto;
 width:60%
}
.cards123 h1{
  margin-left: 33%;

}
.workflowimg{
  width:60%;
  height:30%;
  margin: auto;

}
.advh{
  margin-left: 10px;
}
#Partnerships,#Contact-us,#footer{
  padding-left: 5%;
}

.leftimg{
  position: relative;
  width: 30px;
  top:150px;
  left:105px;

}
.rightimg{
  position: relative;
  width: 30px;
  left:64%;
  bottom:30px;

}
.btn2{
  margin-left: 46%;
}
.cards123 img{
  margin-top: 20px ;
  margin-left: 30%;
  
}
.top{
  margin-top: 5%;
}

.footertags{
  
margin-top: 30px;
 }
 .contact h1,p{
  
  margin:auto
 }
 #Contact-us{
  margin:auto
 }
 .btnsubmit{
  background: linear-gradient(45deg, #D0D041, #117650 );
  border: none;
  height:30px;
  width:100px
 }
 .h1{
  font-size: xx-large;
 }
 .xd{
  height:400px;
  width:90%;
  margin:auto;
  padding:10px;
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 .contact{
  width: 60%;
  font-size: large;
 font-weight:bold
 }
 .valh3{
  margin-left:110px
 }
 .container,.card{
  height:400px;
  width:400px;
  
}

.card h3,.card-body{
 
    font-size:23px;

}
.yoda h3,p{
  font-size:23px;
}
 
}